.banner {
  position: fixed;
  bottom: 0;
  z-index: 99999;
  width: 100%;
  color: white;
  background-color: #900FF2;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.banner-btn {
  padding: .5rem 1rem;
  background-color: #EAE097;
  border-radius: 2rem;
  border: 2px solid #1B1A38;
  color: #1B1A38;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-btn {
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .7rem;
  border: none;
  background-color: #1C50BA;
  cursor: pointer;
  color: #fff;
}

.floating-btn {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #19193B;
  color: #fff;
  box-shadow: 0px 23px 36px #00000029;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.floating-btn span {
  display: none;
}

.floating-btn:hover span {
  display: block;
}